@import 'colors';

  .art-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 5px;
    }

  .card-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }