@import 'colors';

.form-section {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 2em;
    margin: 0px;
  }
  .form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1% 3% 3% 3%;
    margin: auto;
    width: 500px;
    border: 2px solid $yolk-ochre;
    border-radius: 20px;
    text-align: center;
    background-color: $yolk-ochre;
    .form {
      margin: 0% 2% 2% 2%;
      input {
        margin: 9px auto;
        color: $yolk-ochre;
        text-align: center;
      }
      .form-select {
        margin: 9px auto;
        color: $yolk-ochre;
        text-align: center;
      }
    }
  }
}