@import "colors";

.header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 6em;
    color: $yolk-ochre;
    margin: 30px 60px;
  }
  .nav-div {
   font-size: 1.5em;
   padding: 20px;
  }
}

.off-canvas {
  font-size: 2em;
  width: 10%;
  height: 25%;
  border: 1px solid none;
  border-radius: 20px;
  .off-canvas-body {
    display: flex;
    flex-direction: row;
  }
 }

