@import 'colors';

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1%;
  width: 100%;
  .profile-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.5em;
  }
  .list-group-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    .listgroup-text {
      margin: auto;
    }
  }
}

